[submodule "FoundationPose"]
	path = FoundationPose
	url = git@github.com:Boost-Robotics/foundationpose-private.git
[submodule "s2m2"]
	path = s2m2
	url = git@github.com:Boost-Robotics/s2m2-private.git
